[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
asgiref = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
cryptography = "*"
dj-database-url = "*"
django-anymail = "*"
django-cors-headers = "*"
django-jazzmin = "*"
django-storages = "*"
django-ckeditor-5 = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
environs = "*"
gunicorn = "*"
idna = "*"
inflection = "*"
jmespath = "*"
marshmallow = "*"
packaging = "*"
psycopg2 = "*"
pycparser = "*"
pyjwt = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
s3transfer = "*"
shortuuid = "*"
six = "*"
sqlparse = "*"
stripe = "*"
typing-extensions = "*"
tzdata = "*"
uritemplate = "*"
urllib3 = "*"
pylint-django = "*"
drf-yasg = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
